<%- include("./partials/navbar.ejs"); %>
<div id="wrapper">

  <!-- Sidebar -->
  <%- include("./partials/sidebar.ejs"); %>

  <div id="content-wrapper">

    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active"><%= locals.title ? locals.title : '404 Error' %></li>
      </ol>

      <!-- Page Content -->
      <h1 class="display-1"><%= locals.title ? locals.title : '404 Error' %></h1>
      <p class="lead"><%= locals.message ? locals.message : 'Page Not Found' %>
        <a href="javascript:history.back()">go back</a>
        to the previous page . </p>

    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <%- include("./partials/footer.ejs"); %>

  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
 <!-- Logout Modal-->
 <%- include("./partials/logoutModel.ejs"); %>



