<!-- Navbar -->
<%- include("./partials/navbar.ejs"); %>

<div id="wrapper">
  <%- include("./partials/sidebar.ejs"); %>

  <div id="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Accounts</li>
      </ol>

      <!-- Page Content -->
      <div class="mb-4">
        <div class="text-right mb-3">
          <a class="btn btn-success" href="/add-account">
            <i class="fas fa-plus"></i> Add a New Account
          </a>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Account Number</th>
                <th>Bank Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% accounts.forEach(account => { %>
              <tr>
                <td><%= account.num %></td>
                <td><%= account.bankname %></td>
                <td class="text-center">
                  <!-- Edit icon -->
                  <a href="/accounts/edit/<%= account.num %>" class="text-primary mr-3">
                    <i class="fas fa-edit"></i>
                  </a>
                  <!-- Delete icon -->
                  <a href="#" class="text-danger" onclick="event.preventDefault(); document.getElementById('delete-account-form-<%= account.num %>').submit();">
                    <i class="fas fa-trash"></i>
                  </a>
                  <!-- Hidden form for deleting the account -->
                  <form id="delete-account-form-<%= account.num %>" action="/accounts/delete/<%= account.num %>" method="POST" style="display: none;">
                    <input type="hidden" name="_method" value="DELETE">
                  </form>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <%- include("./partials/footer.ejs"); %>
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->
<!-- Logout Modal-->
<%- include("./partials/logoutModel.ejs"); %>











