<!-- Navbar -->
<%- include("./partials/navbar.ejs"); %>

<div id="wrapper">
  <%- include("./partials/sidebar.ejs"); %>

  <div id="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/accounts">Accounts</a>
        </li>
        <li class="breadcrumb-item active">Add Account</li>
      </ol>

      <!-- Page Content -->
      <div class="row">
        <div class="col-lg-8">
          <h1 class="page-header">Add a New Account</h1>

          <!-- Flash Messages -->
          <% if (error_msg && error_msg.length > 0) { %>
            <div class="alert alert-danger">
              <%= error_msg %>
            </div>
          <% } %>

          <form action="/add-account" method="POST">
            <div class="form-group">
              <label for="bankCode">Bank Name</label>
              <select class="form-control" id="bankCode" name="bankCode" required>
                <% banks.forEach(function(bank) { %>
                  <option value="<%= bank.code %>"><%= bank.name %></option>
                <% }); %>
              </select>
            </div>
            
            <!-- Account Number Input -->
            <div class="form-group">
              <label for="accountNum">Account Number</label>
              <input type="text" class="form-control" id="accountNum" name="accountNum" required>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">Add Account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <%- include("./partials/footer.ejs"); %>
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->
<!-- Logout Modal-->
<%- include("./partials/logoutModel.ejs"); %>




