<!-- Navbar -->
<%- include("./partials/navbar.ejs"); %>

<div id="wrapper">
  <%- include("./partials/sidebar.ejs"); %>

  <div id="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Add Bank</li>
      </ol>

      <!-- Page Content -->
      <h1>Add a New Bank</h1>
      <hr>

      <!-- Alert for Existing Bank Name -->
      <% if (typeof errorMessage !== 'undefined') { %>
        <div class="alert alert-danger">
          <%= errorMessage %>
        </div>
      <% } %>

      <form action="/banks/add" method="POST">
        <div class="form-group">
          <label for="name">Bank Name</label>
          <input type="text" class="form-control" id="name" name="name" required pattern="^[A-Za-z\s]+$">
        </div>
        <div class="form-group">
          <label for="code">Bank Code</label>
          <input type="text" class="form-control" id="code" name="code"  placeholder="bank code" >
        </div>
        <button type="submit" class="btn btn-primary">Add Bank</button>
      </form>

    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <%- include("./partials/footer.ejs"); %>
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->

<!-- Logout Modal-->
<%- include("./partials/logoutModel.ejs"); %>


