<!-- Navbar -->
<%- include("./partials/navbar.ejs"); %>

<div id="wrapper">
  <%- include("./partials/sidebar.ejs"); %>

  <div id="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Banks</li>
      </ol>

      <!-- Page Content -->
      <div class="mb-4">
        <div class="text-right mb-3">
          <a class="btn btn-success" href="/add/bank">
            <i class="fas fa-plus"></i> Add a New Bank
          </a>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Bank Code</th>
                <th>Bank Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% banks.forEach(bank => { %>
              <tr>
                <td><%= bank.code %></td>
                <td><%= bank.name %></td>
                <td class="text-center">
                  <!-- Edit icon -->
                  <a href="/banks/edit/<%= bank.code %>" class="text-primary">
                    <i class="fas fa-edit"></i>
                  </a>
                  <!-- Delete form with icon -->
                  <a href="#" class="text-danger ml-2" onclick="event.preventDefault(); document.getElementById('delete-bank-form-<%= bank.code %>').submit();">
                    <i class="fas fa-trash"></i>
                  </a>
                  <!-- Hidden form for deleting the bank -->
                  <form id="delete-bank-form-<%= bank.code %>" action="/banks/delete/<%= bank.code %>" method="POST" style="display: none;">
                    <input type="hidden" name="_method" value="DELETE">
                  </form>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <%- include("./partials/footer.ejs"); %>
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->
<!-- Logout Modal-->
<%- include("./partials/logoutModel.ejs"); %>


