 <!-- Navbar -->
 <%- include("./partials/navbar.ejs"); %>

    <div id="wrapper">
      <%- include("./partials/sidebar.ejs"); %>

        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/accounts">Accounts</a>
                    </li>
                    <li class="breadcrumb-item active">Edit Account</li>
                </ol>

                <!-- Page Content -->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-edit"></i>
                        Edit Account
                    </div>
                    <div class="card-body">
                        <form action="/accounts/edit/<%= account.num %>" method="POST">
                            <div class="form-group">
                                <label for="bankCode">Bank</label>
                                <select class="form-control" id="bankCode" name="bankCode" required>
                                    <% banks.forEach(bank => { %>
                                        <option value="<%= bank.code %>" <%= bank.code === account.bankcode ? 'selected' : '' %> >
                                            <%= bank.name %>
                                        </option>
                                    <% }) %>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Update Account</button>
                            <a href="/accounts" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

            <!-- Sticky Footer -->
            <%- include("./partials/footer.ejs"); %>
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
 <!-- Logout Modal-->
 <%- include("./partials/logoutModel.ejs"); %>