<%- include("./partials/navbar.ejs"); %>

<div id="wrapper">
  <%- include("./partials/sidebar.ejs"); %>

  <div id="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Emission</li>
      </ol>

      <!-- Search Filter Form -->
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-search"></i> Filter Checks
        </div>
        <div class="card-body">
          <form action="/search-results" method="GET">
            <div class="row">
              <!-- form fields here -->
            </div>
          </form>
        </div>
      </div>

      <!-- Page Content -->
      <div class="row mb-4">
        <div class="col-xl-3 col-sm-6 mb-3">
          <a class="card text-white bg-success o-hidden h-100" href="/add-check">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-plus"></i>
              </div>
              <div class="mr-5">Add a New Check</div>
            </div>
            <div class="card-footer text-white clearfix small z-1">
              <span class="float-left">Click to add</span>
              <span class="float-right">
                <i class="fas fa-angle-right"></i>
              </span>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <% checks.forEach(check => { %>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-money-check"></i>
                </div>
                <div class="mr-5">Check Number: <%= check.num %></div>
                <div class="mr-5">Amount: <%= check.amount || '0' %></div>
                <div class="mr-5">Beneficiary: <%= check.beneficiary || 'None' %></div>
                <div class="mr-5">Creation Date: <%= check.creationdate ? new Date(check.creationdate).toLocaleDateString() : 'None' %></div>
                <div class="mr-5">Value Date: <%= check.valuedate ? new Date(check.valuedate).toLocaleDateString() : 'None' %></div>
                <div class="mr-5">Entry Date: <%= check.entrydate ? new Date(check.entrydate).toLocaleDateString() : 'None' %></div>
                <div class="mr-5">Issue Date: <%= check.issuedate ? new Date(check.issuedate).toLocaleDateString() : 'None' %></div>
                <div class="mr-5">Type: <%= check.type || 'None' %></div>
                <div class="mr-5">Bank: <%= check.bankname ? check.bankname : 'Unknown Bank' %></div>
                <div class="mr-5">Bank Code: <%= check.bankcode %></div>
                <div class="mr-5">Account Number: <%= check.accountnum || 'None' %></div>
                <div class="mr-5">Created By: <%= check.createdby || 'None' %></div>
                <div class="mr-5">Updated By: <%= check.updatedby || 'None' %></div>
                <div class="mr-5">Last Updated By: <%= check.lastupdatedby || 'None' %></div> <!-- Add this line -->
              </div>

              <% if (!check.issuedate || isNaN(new Date(check.issuedate).getTime())) { %>
                <a class="card-footer text-white clearfix small z-1" href="<%= userRole === 'admin' ? '/checks/edit/admin/' + check.num : userRole === 'agent' ? '/checks/edit/agent/' + check.num : userRole === 'cashier' ? '/checks/edit/cashier/' + check.num : '#' %>">
                  <span class="float-left">Edit</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
                
                <% if (userRole !== 'cashier') { %>
                  <a class="card-footer text-white clearfix small z-1" href="#"
                    onclick="event.preventDefault(); document.getElementById('delete-check-form-<%= check.num %>').submit();">
                    <span class="float-left">Delete</span>
                    <span class="float-right">
                      <i class="fas fa-angle-right"></i>
                    </span>
                  </a>
                  <form id="delete-check-form-<%= check.num %>" action="/checks/delete/<%= check.num %>" method="POST" style="display: none;">
                    <input type="hidden" name="_method" value="DELETE">
                  </form>
                <% } %>
                
              <% } %>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
    <!-- /.container-fluid -->
    <%- include("./partials/footer.ejs"); %>
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->

<!-- Logout Modal-->
<%- include("./partials/logoutModel.ejs"); %>



