<%- include("./partials/navbar.ejs"); %>

  <div id="wrapper">

    <!-- Sidebar -->
    <%- include("./partials/sidebar.ejs"); %>

    <div id="content-wrapper">
      <div class="container-fluid">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Search Results</li>
        </ol>

        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table"></i> Filtered Checks
            <a href="/download-pdf?<%= new URLSearchParams(query).toString() %>" class="btn btn-primary float-right">
              Download as PDF
            </a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Account Number</th>
                    <th>Amount</th>
                    <th>Beneficiary</th>
                    <th>Type</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% filteredChecks.forEach(check => { %>
                    <tr>
                      <td><%= check.accountnum %></td>
                      <td><%= check.amount %></td>
                      <td><%= check.beneficiary %></td>
                      <td><%= check.type %></td>
                      <td><%= check.status %></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <%- include("./partials/footer.ejs"); %>
    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <%- include("./partials/logoutModel.ejs"); %>



