<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="css/sb-admin.css" rel="stylesheet">
</head>
<body id="page-top">
  <div id="wrapper">
    <div id="content-wrapper">
      <div class="container-fluid">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Search Results</li>
        </ol>

        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table"></i> Filtered Checks
            <a href="/download-pdf?<%= new URLSearchParams(query).toString() %>" class="btn btn-primary float-right">
              Download as PDF
            </a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Account Number</th>
                    <th>Amount</th>
                    <th>Beneficiary</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <% filteredChecks.forEach(check => { %>
                    <tr>
                      <td><%= check.accountnum %></td>
                      <td><%= check.amount %></td>
                      <td><%= check.beneficiary %></td>
                      <td><%= check.type %></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
